# Variables

Create Variables

In [ ]:
x = 6
y = 3
print(x)
print(y)

9

More Variable Types

In [ ]:
name = 'Sanath Jayasuriya'
email = 'sanath@cricket.com'
weight = 60

team = ['Sanath', 'Sanga','Andrew','David']
player = ['David Warner', 'david@cricket.com', 35] 
print(player)

['David Warner', 'david@cricket.com', 35]

Re-assigning values to same variable

In [ ]:
x = 6
print(x)

x = 'David'
print(x)

x = True
print(x)

6
David
True

Add Variables

In [ ]:
x = 5
y = 10
z = x + y
print(z)

firstname = 'Sanath'
lastname = 'Jayasuriya'
fullname = firstname + lastname
fullname = firstname + ' ' + lastname
print(fullname)

15
Sanath Jayasuriya

True or False ( Some other example )

In [ ]:
print('When 5 is devided by 2, Quotient is : ', 5//2)
print('When 5 is devided by 2, Remainder is : ', 5%2)

isEven =                   5%2 == 0

print('Is 5 an even number ? : ', isEven)

When 5 is devided by 2, Quotient is :  2
When 5 is devided by 2, Remainder is :  1
Is 5 an even number ? :  False

Type and Casting

In [ ]:
x = 5
y = '10'

z = x + y
print(z)

TypeError: ignored

In [ ]:
x = 5
y = '10'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x = 5
y = '10'
yInt = int(y)

type(yInt)

int

In [ ]:
x = 5
y = '10'

z = x + int(y)
print(z)

15

In [ ]:
x = 5
y = '10.6'

z = x + int(y)
print(z)

ValueError: ignored

In [ ]:
x = 5
y = '10.6'

z = x + float(y)
print(z)

String Concatenation

In [ ]:
name = 'David'
age = 25

print('My name is : ', name, 'and My age is :', age)
print(f'Your name is {name} and your age is {age} ')
print('Your name is {} and your age is {}'.format(age,name))

My name is :  David and My age is : 25
Your name is David and your age is 25
Your name is 25 and your age is David

# Conditional Execution

Introduction to Conditions

In [ ]:
6 == 5

False

In [ ]:
x = 100
y = 200

print(f'x is : {x} | y is {y}')
print('----------------------------------------')
print('x equals y :', x == y)
print('x not equals x :', x != y)
print('x is greater than y :', x > y)
print('x is less than y :', x < y)
print('x is greater than or equals to y :', x >= y)
print('x is less than or equals to y :', x <= y)
print('----------------------------------------')
print('x equals y :', x is y)
print('x not equals x :', x is not y)

x is : 100 | y is 200
----------------------------------------
x equals y : False
x not equals x : True
x is greater than y : False
x is less than y : True
x is greater than or equals to y : False
x is less than or equals to y : True
----------------------------------------
x equals y : False
x not equals x : True

Conditional Execution example

In [1]:
x = 10
y = 20

# if x is greater than or y -> print "Hello X is the BIG BOSS here", Else print "Hello, Y is the BIG BOSS here"

if x >= y:
  print('Hello, X is the BIG BOSS here')
else:
  print('Hello, Y is the BIG BOSS here')

Hello, Y is the BIG BOSS here

In [ ]:
x = 6
y = 2
print(x >= 2 and (x/y) > 2)

x = 1
y = 0
print(x >= 2 and (x/y) > 2)

x = 6
y = 0
print(x >= 2 and y != 0  and (x/y) > 2)

True
False
False