# Functions

Looping through without Function

In [ ]:
#looping through the list
numbers_1 = [2, 3, 4, 6]

for number in numbers_1:
  if number % 2 == 0:
    print(number, ' is an even number ')
  else:
    print(number, ' is an odd number')

numbers_2 = [5, 7, 8, 10]

for number in numbers_2:
  if number % 2 == 0:
    print(number, ' is an even number ')
  else:
    print(number, ' is an odd number')

2  is an even number
3  is an odd number
4  is an even number
6  is an even number
5  is an odd number
7  is an odd number
8  is an even number
10  is an even number

In [ ]:
def even_odd(numbers):
  for number in numbers:
    if number % 2 == 0:
      print(number,'is an even number')
    else:
      print(number,'is an odd number')

numbers = [2, 3, 4, 6, 8, 11]
even_odd(numbers)

2 is an even number
3 is an odd number
4 is an even number
6 is an even number
8 is an even number
11 is an odd number

Another example on functions

In [ ]:
def get_employee_data():
  name = input('Please Enter your name: \n')
  email = input('Enter your email address: \n')
  age = input('Enter your age: ')
  print('Welcome : ', name)
  print('Your email : ', email)
  print(type(age))
  print('Your Age multiplied by 2 : ', int(age) * 2)


get_employee_data()

Please Enter your name:
Vimu
Enter your email address:
vimuj@gmail.com
Enter your age: 25
Welcome :  Vimu
Your email :  vimuj@gmail.com
<class 'str'>
Your Age multiplied by 2 :  50

Example for Return

In [ ]:
# Defining a function to multipy the given two values
def multiply(a,b):

  z = a * b

  return z


x = 6
y = 4
results = multiply(x,y)
print('Multiplied value: ',results)

Multiplied value:  24

Another Example for Return

In [ ]:
def check_even(a):
  status = None
  if a % 2 == 0:
    status = True
  else:
    status = False

  return status 

z = check_even(5)
print('Is 5 even ?: ',z)

Is 5 even ?:  False

Default parameters

In [ ]:
def print_employee_details(name, email='info@lseg.com', phonenumber='0112416000'):
  print(f'Name: {name}')
  print(f'Email: {email}')
  print(f'Phonenumber: {phonenumber}')


print_employee_details('vimukthini', 'vimukthinij@gmail.com', '0716275565')
print_employee_details('eranga')

Name: vimukthini
Email: vimukthinij@gmail.com
Phonenumber: 0716275565
Name: eranga
Email: info@lseg.com
Phonenumber: 0112416000

Recursion

Recursion is a common mathematical and programming concept. Recursion is Calling a function inside the same function

Factorial

We can count the factorial by multiplying all the counting numbers less than and equal a given number.

**0! = 1**

**1! = 1**

2! = 1 x 2 

3! = 1 x 2 x 3

4! = 1 x 2 x 3 x 4

5! = 1 x 2 x 3 x 4 x 5

6! = 1 x 2 x 3 x 4 x 5 x 6

6! = 5! x 6





7! = 6! x 7

n! = (n-1)! x n

In [13]:
def count_factorial(n):

  # do this later
  if(n < 0):
    return 'Not Allowed'

  if n == 0:
    return 1
  else:
    return count_factorial(n-1)*n

In [17]:
factorial = count_factorial(6)
print(factorial)

720